body
{
    margin: 0;
}

#layout
{
    height: 100vh;
    max-width: 50rem;
    margin: auto;
    padding: 0 1.5rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    overflow-y: auto;

    font-family: helvetica;
    background-color: rgb(228, 228, 228);
}



#filler
{
    flex-grow: 1;
}



#messages-wrapper
{
    display: flex;
    flex-direction: column;
}

.message
{
    margin-top: 1rem;
    max-width: 70%;
    background-color: pink;
    position: relative;
    border-radius: 0.5rem;
    padding: 0.5rem;
}

.message_sent
{
    align-self: flex-end;
    border-top-right-radius: 0rem;
}

.message_received
{
    width: max-content;
    border-top-left-radius: 0rem;
}

.message-text
{
    font-size: 1rem;
}

.message-timestamp
{
    font-size: 0.7rem;
    color: #808080;
    display: inline-block;
    margin-left: 0.8rem;
    margin-top: 0.3rem;
    float: right;
}

.arrow
{
    position: absolute;
    width: 0;
    height: 0;
    top: 0;
    border-top: 1rem solid #ffc0cb;
}

.arrow_sent
{
    border-right: 0.8rem solid transparent;
    right: -0.5rem;
}

.arrow_received
{
    border-left: 0.8rem solid transparent;
    left: -0.5rem;
} 



#input-box
{
    padding: 1.5rem 0;
    display: flex;
}

#message-input
{
    width: 100%;
    margin-right: 1rem;
}



#typing-bubble
{
    display: none;
}

.dot-wrapper
{
    height: 0.6rem;
    width: 0.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0.1rem;
}

.dot
{
    height: 0.5rem;
    width: 0.5rem;
    background-color: #4a4a4a;
    border-radius: 50rem;
    float: left;
    transition: 150ms;
}

#dot-1
{
    left: 0.5rem;
}

#dot-2
{
    left: 1.25rem;
}

#dot-3
{
    left: 2rem;
}